@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    /* background: linear-gradient(to right, #ff9966, #ff5e62); */
    /* background: linear-gradient(to right, #f6f4eb, #91c8e4, #749bc2); */
    background: conic-gradient(#f3f8ff, #deecff, #c6cfff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    height: 420px;
    width: 60%;
    /* margin: 5rem 2rem; */
    background: white;
    padding: 3rem 3rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h1 {
    color: #0abde3;
    margin: 5px;
    /* border-bottom: 2px solid #0abde3;
    border-top: 2px solid #0abde3; */
    
}

.container form{
    margin: 2rem 1rem;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: 0.3s;
}

input:hover{
    border: 2px solid #54a0ff;
}

button {
    /* background-color: #ff5e62; */
    background-color: #0abde3;
    color: white;
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #54a0ff;
}


@media screen and (max-width:600px) {
    .container{
        height: 500px;
        font-size:1rem;
    }
}

@media screen and (max-width:500px) {
    .container{
        height: 450px;
        font-size:14px;
    }
}

@media screen and (max-width:350px) {
    .container{
        height: 500px;
        font-size:12px;
    }
}
